@import "/client/style/variables.import.less";
@import "/client/style/bootstrap-variables.import.less";

@import "/client/style/base.import.less";
@import "/client/style/admin.import.less";

/* Globals */
@import "/client/style/globals/footer.import.less";
@import "/client/style/globals/navbar.import.less";

/* Utils */
@import "/client/style/utils/fonts.import.less";

/* Views */
@import "/client/views/home/home.import.less";



.ontopLikes{
  margin: 0 0 0 200px;
  position: absolute;
}

.flex{
  display:flex;
  flex-direction: row;
  display: inline-flex;
}

.img-wrapper{
  // display: inline-flex;

// navbar
.navbar-header{
  background-color: #DB2340;
}

//button-size
.btn-primary{
  background-color: #51B246;
}

//bg?
div.layout.master-layout{
  background-color: rgb(251, 244, 216);
}

//panel for post page
div.panel-heading{
  background-color: #F6AE64;
  color: #590C0C;
  font-weight: bold;
}

#google-map {
  width:100%;
  height:100%;
}

//footer
// element.style{
body {
color: #DB2340;
background-color: rgb(251, 244, 216);
}

footer {
  color: rgb(251, 244, 216);
}
}
