<template name="addPost">
	<div class="template-add-post">
		<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{_ "add_post"}}</h3>
				</div>
				<div class="panel-body">
					{{#autoForm id="add" collection="Posts" type="insert"}}
					<!-- {{> afQuickField name="title"}}
					{{> afQuickField name="content"}} -->
					{{> afQuickField name="picture"}}
					<button type="submit" class="btn btn-primary">{{_ "add_post_btn"}}</button>
					{{/autoForm}}
				</div>
		</div>
	</div>
</template>
