<template name="home">
<div id="skrollr-body">
    {{> skrollrBackground}}
        <section id="ipad" class="colored text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>{{_ "section_ipad_header"}}</h3>
                        <p>{{_ "section_ipad_text"}}</p>
                        <p class="text-center">
                        <a href="{{pathFor 'addPost'}}" class="btn btn-success">upload ratchet</a>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <img id="ipad" src="/img/ipad.png" alt="" class="wow animated fadeInRight" data-wow-delay="1s">
                    </div>
                </div>
            </div>
        </section>
      </div>
</template>
<template name="skrollrBackground">
<div
    id="skroll-background-intro"
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#intro"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">
    <div
        class="parallax-image parallax-image-100"
        data-anchor-target="#intro"
        data-bottom-top="transform: translate3d(0px, -80%, 0px);"
        data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
    <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
</div>
</template>
