<template name="dashboard">
	<div class="template-dashboard">
		<div class="container">
			<div class="row" id="champion-messages">
				<div class="col-md-3">
					{{> addPost}}
					{{> favoritesSidebar}}
				</div>
				<div class="col-md-9">
					{{> posts}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="posts">
	<div id="google-map">
		{{> googleMap
		markers=markers
		selectedMarkerId=selectedMarkerId}}
	</div>


	<div class="template-posts">
		{{#each photos}}
		<div class="template-post">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<!-- {{title}} -->
							<span class="pull-right">
								<i class="fa fa-thumbs-up"></i>{{likes}}
								<i class="fa fa-comments"></i> {{commentCount _id}}
							</span>
						</h3>
					</div>
					<div class="panel-body flex">
						<p class="text-center">
							{{#with getDoc picture 'Attachments'}}
								<img src="{{url}}" class="img-thumbnail img-rounded">
							{{/with}}
						</p>
						<div class="media">
								<div class="img-wrapper animated">
									<!-- <div class="ontopLikes"><h1>{{likes}}</h1></div> -->
									<img width="70%" id="p-{{_id}}" class="like" src="{{image}}"/>
								</div>
								<a class="pull-left" href="#">
									{{> avatar userId=owner shape="circle"}}
								</a>
						</div>
					</div>
					<div class="panel-footer">
						{{> favoriteButton _id=_id}}
						<!-- <button class="comment"> comment </button>
						{{comments _id}} -->
					</div>
			</div>
		</div>
			<!-- <div class="img-wrapper animated">
				<div class="ontopLikes"><h1>{{likes}}</h1></div>
				<img id="p-{{_id}}" class="like" src="{{image}}"/>
			</div> -->
		{{else}}
			{{> noData}}
		{{/each}}
	</div>
</template>

<template name="photo">


</template>

<template name="post">

</template>

<template name="favoritesSidebar">
	<div class="template-favorites-sidebar">
		{{#if myFavorites.count}}
		<div class="panel panel-default">
			<div class="panel-heading">
					<h3 class="panel-title">{{_ "favorites"}}</h3>
			</div>
			<div class="panel-body">
				<ul>
				{{#each myFavorites}}
					<li>
						<a>{{_id}}</a>
					</li>
				{{/each}}
				</ul>
			</div>
		</div>
		{{/if}}
	</div>
</template>
